default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: joss
  password:
  database: g-indexer_development

development:
  <<: *default

test:
  <<: *default
  database: g-indexer_test

production:
  <<: *default
  database: g-indexer_production
  username: g-indexer
  password: <%= ENV['G-INDEXER_DATABASE_PASSWORD'] %>
